.tabs {
    padding: 2rem 2rem 0.5rem;
}
.container {
    display: flex;
    background: #f3f4f6;
    padding: 4px;
    border-radius: 1rem;
}
.btn {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: transparent;
    font-weight: 700;
    color: #9ca3af;
    cursor: pointer;
    border-radius: 0.75rem;
}
.active {
    background: white;
    color: #ea2a33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
